<div class=parallax>
  <div class=navbar>
    <button class="savePlayersbtn" ng-click="onClickGetSavedPlayers(displaySavedPlayers)">Saved</button>
    <button class="deletePlayerbtn">Delete</button>
    <button class="searchPlayersbtn">Search</button>
  </div>
  <div class=init ng-show="!state">
    <span class="title">Search Challenger Tier</span>
    <span class="subtitle">See who is currently ranked in Challenger!</span>
    <button class="tierbtn" ng-click="onClickGetTier()">Get Tier Data</button>
  </div>
  <br/>
  <div ng-repeat="player in players" >
    <div class="saved" ng-click="deletePlayer(this)">
      {{player.username}} : {{player.topPlayed}}
    </div>
  </div>
</div>

<div class="entryBg">
  <div class="entries">
    <div class="scroll">
      <div class="entry" ng-repeat="entry in entries" >
        <div class="entrywrapper" ng-click="displayPlayer(this)">
        <!-- ng-click="onClickGetChamps(this)" -->
            <div class="entryname">
              {{entry.name}} {{entry.wins / (entry.wins + entry.losses) | number: 2}}
            </div>
        </div>
      </div>
    </div>
    <div class="info" ng-model="info">
      <div class="infoName">{{info.username}}</div>
      <div class="infoTopPlayed">Most Played: {{info.topPlayed}}</div>
      <div class="infoWins">Wins: {{info.wins}} Losses: {{info.losses}}</div>
      <!-- <div class="infoLosses">Losses: {{info.losses}}</div> -->
      <div class="infoRatio">Win Ratio: {{info.wins / (info.wins + info.losses) | number: 2}}</div>
    </div>
  </div>
</div>