<div class=background>
  <div class=navbar>
    <button ng-click="onClickGetSavedPlayers(displaySavedPlayers)">Show Saved Players</button>
    <button>Delete A Player</button>
    <button>Search Players</button>
  </div>
  <div class=init>
    <span class="title animated bounceInDown">Search Challenger Tier</span>
    <span class="subtitle">See who is currently ranks at Challenger!</span>
    <button class="tierbtn" ng-click="onClickGetTier(displayTierData)">Get Tier Data</button>
  </div>
  <br/>
  <div class="entries">
    <div ng-repeat="entry in entries" ng-click="onClickGetChamps(saveChampData)">
      <div class="entrywrapper">
        <div class="entryname">{{entry.name}} </div>
        <div class="entrywins">Wins: {{entry.wins}}</div>
        <div class="entrylosses">Losses: {{entry.losses}}</div>
      </div>
    </div>
  </div>
  <div ng-repeat="player in players">{{player}}</div>
</div>